<div class="accordion">
  <%- subcategories.each do |subcategory| %>
    <%- if subcategory[:subcategories] || !subcategory[:tables].empty? %>
      <div class="title">
        <i class="dropdown icon"></i>
        <%= subcategory[:name] %>
      </div>
      <div class="content">
        <%= render partial: 'tables', locals: { tables: subcategory[:tables], depth: subcategory[:depth] } if subcategory[:tables]  %>
        <%- if subcategory[:subcategories] %>
          <%= render partial: 'category', locals: { subcategories: subcategory[:subcategories] } %>
        <%- end %>
      </div>
    <%- end %>
  <%- end %>
</div>