<div class="tables">
  <div class="ui divided list">
    <%- tables.each do |table| %>
      <div class="item">
          <input type="checkbox" id="<%= table.table_name %>" name="layer">
          <label for="<%= table.table_name %>">
            <%= table.name.blank? ? table.table_name : table.name %>
          </label>
      </div>
    <% end %>
  </div>
</div>