<div id="map"></div>
<ul id="slide-out" class="side-nav" style="transform: translateX(0px);">
  <li>
    <h4 class="center-align">Select Layers</h4>
  </li>
  <li>
  <li>
    <ul class="collapsible" data-collapsible="expandable">
      <%- @categories.each do |category| %>
        <li>
          <div class="collapsible-header"><%= category[:name] %></div>
          <div class="collapsible-body">
            <%= render  partial: 'tables', 
                        locals: { tables: category[:tables], depth: category[:depth] } if category[:tables]  %>

            <%- if category[:subcategories] %>
              <%= render  partial: 'category', 
                          locals: { subcategories: category[:subcategories] } %>
            <%- end %>
          </div>
        </li>
      <%- end %>
    </ul>
  </li>
</ul>
